<div class="topheader">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="mangxh float-sm-left text-center text-sm-left">
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-pinterest"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                </div>
                <div class="datban">
                    Call for reservation: +011 29 345 678
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="datban float-sm-right">
                    Opening Hours: 9:00 am - 10:00 pm
                </div>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModalCenter">Sign in</button>
                <button type="button" class="btn btn-dark">Sign up</button>
            </div>
        </div>
    </div>
</div><!-- end topheader-->
<div class="logovamenu">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="../../../content/images/logo.png" alt="">
            </a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 float-sm-right">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-warning" href="#">Reservation</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<!-- Modal Sign In -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="chu">
                <h2 class=" fontoswarld">The Fresh And Tasty Burgers </h2>
                <p  >Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque  </p>
                <a href="" class="nutslide fontoswarld btn btn-warning"> Buy Now</a>
            </div>
            <img src="../../../content/images/slide02.jpg" alt="">
        </div>
        <div class="carousel-item">
            <div class="chu">
                <h2 class=" fontoswarld">The Fresh And Tasty Burgers </h2>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque  </p>
                <a href="" class="nutslide fontoswarld btn btn-warning"> Buy Now</a>
            </div>
            <img src="../../../content/images/slide02.jpg" alt="">
        </div>
        <div class="carousel-item">
            <div class="chu">
                <h2 class=" fontoswarld">The Fresh And Tasty Burgers </h2>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque  </p>
                <a href="" class="fontoswarld nutslide btn btn-warning"> Buy Now</a>
            </div>
            <img src="../../../content/images/01.jpg" alt="">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>

<div class="badichvu">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <a href=""><img src="../../../content/images/3dichvu.jpg" alt="" class="img-fluid"></a>
                <h3><a href="">Our Restaruant Story</a></h3>
                <p>Sed ut perspiciatis unde omnis iste natus errorsit voluptatem accusantium doloremque laudantium thes hatles tooest surf totam rem aperiam.</p>
                <a href="" class="readmore">Read More</a>
            </div>

            <div class="col-sm-4">
                <a href=""><img src="../../../content/images/3dichvu.jpg" alt="" class="img-fluid"></a>
                <h3><a href="">Our Restaruant Story</a></h3>
                <p>Sed ut perspiciatis unde omnis iste natus errorsit voluptatem accusantium doloremque laudantium thes hatles tooest surf totam rem aperiam.</p>
                <a href="" class="readmore">Read More</a>
            </div>

            <div class="col-sm-4">
                <a href=""><img src="../../../content/images/3dichvu.jpg" alt="" class="img-fluid"></a>
                <h3><a href="">Our Restaruant Story</a></h3>
                <p>Sed ut perspiciatis unde omnis iste natus errorsit voluptatem accusantium doloremque laudantium thes hatles tooest surf totam rem aperiam.</p>
                <a href="" class="readmore">Read More</a>
            </div>
        </div>

    </div>
</div>


