@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */
.fontdancing {
  font-family: 'Dancing Script', cursive;
}
.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  padding: 0.2rem 1rem;

  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }

  a.nav-link {
    font-weight: 400;
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/logo-jhipster.png') no-repeat center center;
  background-size: contain;
}

.topheader {
  background-color: #222;
  height: 50px;
  color: white;
  line-height: 40px;
}

.mangxh a {
  color: #dddddd;
  font-size: 20px;
  padding: 0 10px;
}

.mangxh a:nth-child(1) {
  padding-left: 0px;
}

.datban {
  border-left: 1px solid #ddd;
  float: left;
  margin-left: 17px;
  padding-left: 25px;
  font-size: 13px;
  color: #ddd;
}

/*xu ly giao dien di dong*/
@media (max-width: 576px) {

  .topheader {
    height: auto;
    padding-bottom: 10px;
  }

  .datban {
    border: none;
    border-bottom: 1px dashed #dddddd;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
/*het giao dien di dong*/

a .nav-link {
  color: #777;
  font-size: 14px;
  margin-top: 43px;
  pading: 0 15px;
}

.datbanmenu a.nav-link.btn.btn-warning {
  font-size: 13px;
  color: black;
  height: 44px;
  width: 150px;
}

.chu {
  position: absolute;
  color: white;
  margin-left: 14%;
  background: url("../../../content/images/icon1.png") no-repeat left top;
  padding-top: 168px;
  top: 150px;
}

.chu h2 {
  font-size: 50px;
}

.badichvu {
  padding-top: 120px;
}

.khoimenu {
  background: url("../../../content/images/slide03.jpg");
  color: white;
}

.tieudekhoimenu {
  display: table;
  margin: auto;
  height: 550px;
  width: 900px;
}

.tieudekhoimenu .container {
  display: table-cell;
  vertical-align: middle;
}

.tieudephu {
  font-weight: 700;
  font-size: 38px;
  color: #feb518;
}

.tieudechinh {
  font-size: 36px;
  font-weight: bold;
}

.thucdonct {

}

.thucdonct .tieudect {
  height: 40px;
  line-height: 40px;
  background: brown;
  color: white;
  margin-bottom: 120px;
}

.thucdonct .noidungct {
  height: 400px;
  position: relative;
}

.thucdonct .noidungct .noidung {
  height: 400px;
  border: 1px solid gold;
  position: absolute;
  top: 0px;
}

.motmon {
  height: 120px;

}

.anhmon {
  position: relative;
  width: 100%;

}

.tagnew {
  position: absolute;
  background: #feb518;
  font-size: 11px;
  top: 0;
  padding: 2px 4px;
}

.noidungct .row .row [class*=col-]{
  padding-left: 10px;
  padding-right: 10px;
}

b.ten {
  background: white;
  transform: translateY(5px);
  display: inline-block;
  padding-right: 1px;
}

.tenmon .tren span {
  background: white;
  transform: translateY(5px);
  display: inline-block;
  padding-right: 1px;
}

.tenmon .tren {
  font-size: 15px;
  color: #333333;
  border-bottom: 2px dotted black;
}
