<div class="topheader">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 wow jello">
                <div class="mangxh float-sm-left text-xs-center text-sm-left">
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-pinterest"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                </div>
                <div class="datban">
                    Call for reservation: +011 29 345 678
                </div>
            </div>
            <div class="col-sm-6 ">
                <div class="2btn float-sm-right">
                    <span *ngIf="isLogin ; then showLogin else showLogout"></span>
                    <ng-template #showLogin>
                        <button type="button" class="btn btn-secondary" label="Sign In" (click)="logout()">Logout
                        </button>
                    </ng-template>
                    <ng-template #showLogout>
                        <button type="button" (click)="showDialog()" class="btn btn-secondary" label="Sign In">Sign In
                        </button>
                        <button type="button" class="btn btn-secondary">Sign Up</button>
                    </ng-template>
                </div>
            </div>
        </div> <!-- het row -->
    </div> <!-- het container -->
</div> <!-- het topheader  -->
<div class="logovamenu">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mtren"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="mtren">
                <a class="navbar-brand text-xs-center text-sm-left" href="#"><img src="../../../content/images/logo.png"
                                                                                  alt=""></a>
                <ul class="nav navbar-nav float-right">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="news.html">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="thucdon.html">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                    <li class="nav-item datbanmenu">
                        <a class="nav-link btn btn-warning wow bounce" data-wow-iteration="3" href="#">Reservation</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div> <!-- het logo va menu -->

<p-dialog header="Title" [(visible)]="display" [style]="{width: '20vw'}" [baseZIndex]="10000">
    <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
        <input type="text" pInputText placeholder="Username" [(ngModel)]="user.username">
    </div>

    <div class="p-inputgroup mt-2">
        <span class="p-inputgroup-addon"><i class="pi pi-shopping-cart" style="line-height: 1.25;"></i></span>
        <input type="password" pInputText placeholder="Password" [(ngModel)]="user.password">
    </div>

    <div class="mt-2">
        <p-button label="Submit" (click)="login()"></p-button>
    </div>
</p-dialog>

<p-toast></p-toast>

